
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CambiarClave</title>
    <link href="~/Content/style_cambiarclave.css" rel="stylesheet" />
</head>
<body class="bg-primary">

    <div id="container_main">

        <div id="container_login">
            <form action="@Url.Action("CambiarClave","Acceso")" method="post">
                <input class="form-control" id="inputPassword" type="hidden" value="@TempData["IdCliente"]" name="idcliente" />

                <h1>Cambiar Clave</h1>
                <div id="container_grid">
                    <div class="container_actual">
                        <input class="form-control" id="inputPassword" type="password" name="claveactual" value="@ViewData["vClave"]" placeholder="Clave actual"  style="color: black;" />

                    </div>
                    <div class="container_nueva">
                        <input class="form-control" id="inputPassword" type="password" name="nuevaclave" placeholder="Nueva clave" style="color: black;" />
                    </div>

                    <div class="container_confirmarnueva">
                        <input class="form-control" id="inputPassword" type="password" name="confirmarclave" placeholder="Confirmar Nueva Clave" style="color: black;" />
                    </div>

                    <div class="container_btn">
                        <button type="submit" id="btn">Enviar</button>
                    </div>

                    @{
                        if (ViewBag.Error != null)
                        {
                            <div class="form-floating mb-3">
                                <div id="mensajeError" class="alert alert-danger" role="alert">
                                    @ViewBag.Error
                                </div>
                            </div>
                        }
                    }

                </div>

            </form>


        </div>

    </div>




   
    <script src="~/Scripts/bootstrap.bundle.js"></script>

</body>
</html>
