
@{
    Layout = null;
}

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/login_styles.css" rel="stylesheet" />
</head>
<body>
    

    <div id="container_main">

        <div id="container_login">
            <form action="@Url.Action("Index","Acceso")" method="post">

                <h1>Login</h1>
                <div id="container_grid">
                    <div class="container_user">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Email" id="correo" name="correo">

                    </div>
                    <div class="container_pass">
                        <i class="fa fa-lock"></i>
                        <input type="password" placeholder="Contraseña" id="clave" name="clave">
                    </div>

                    <div class="container_a">
                        <a href="@Url.Action("Reestablecer","Acceso")">¿Has olvidado tu contraseña?</a>
                    </div>

                    <div class="container_btn">
                        <button type="submit" id="btn">Iniciar Sesión</button>
                    </div>

                    <div class="container_register">
                        <a href="@Url.Action("Registrar","Acceso")">¿No tienes cuenta? Registrarse</a>
                    </div>

                    @{
                        if (ViewBag.Error != null)
                        {
                            <div class="form-floating mb-3">
                                <div id="mensajeError" class="alert alert-danger" role="alert">
                                    @ViewBag.Error
                                </div>
                            </div>
                        }
                    }

                </div>

            </form>


        </div>

    </div>

    <script src="~/Scripts/bootstrap.bundle.js"></script>
</body>
</html>
